<section id="hero">
  <div class="wrapper">
    <h1><%= t(:header) %></h1>
    <p><%= t(:header_title) %></p>
    <a href="" class="btn-cta"><%= t(:cta) %></a>
  </div>
</section>

<section id="features">
  <header>
    <h2><%= t(:features) %></h2>
  </header>
</section>

<%= partial "beta-form" %>
